<!DOCTYPE html>
<html>
  <head>
    <title>KitCoin | Home</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/dashboard">Dashboard</a> < delete
    <a href="/auth/google">Login</a>
    <a href="/auth/logout">Logout</a>
    <% if(locals.user) { %>

    <% } %>
  </body>
</html>