html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, main, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
  border-spacing: 0px;
  box-sizing: border-box;
}

#role-student, #role-staff, #role-admin {
  padding: 100px 0 0 0;
}

#wrapper {
  overflow: hidden;
}

#landing {
  width: 100vw;
  min-height: 100vh;
}

#alert {
  position: fixed;
  margin-top: 10px;
  padding: 10px;
  max-width: calc(100vw - 40px);
  height: 20px;
  border-radius: 10px;
  left: calc(-40px - 100%);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  position: fixed;
  bottom: 10px;
  text-overflow: ellipsis;
}

#alert a {
  position: relative;
  margin-left: 10px;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.progress {
  height: 5px;
  display: block;
  width: 100%;
  background-color: transparent;
  border-radius: 2px;
  background-clip: padding-box;
  /*margin: 0.5rem 0 1rem 0;*/
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
}

.progress .indeterminate {
  background-color: black;
}

.progress .indeterminate:before {
  content: '';
  position: absolute;
  background-color: #1a2741;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
  animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}

.progress .indeterminate:after {
  content: '';
  position: absolute;
  background-color: #1a2741;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  -webkit-animation-delay: 1.15s;
  animation-delay: 1.15s;
}

@-webkit-keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }

  60% {
    left: 100%;
    right: -90%;
  }

  100% {
    left: 100%;
    right: -90%;
  }
}

@keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }

  60% {
    left: 100%;
    right: -90%;
  }

  100% {
    left: 100%;
    right: -90%;
  }
}

@-webkit-keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }

  60% {
    left: 107%;
    right: -8%;
  }

  100% {
    left: 107%;
    right: -8%;
  }
}

@keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }

  60% {
    left: 107%;
    right: -8%;
  }

  100% {
    left: 107%;
    right: -8%;
  }
}

.section {
  width: 100vw;
  height: 100vh;
}

#header {
  vertical-align: middle;
  margin: auto;
  background-image: url('../images/eths.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 12px;
}


#headermain {
  width: 100vw;
  height: 100vh;
}

hr {
  border: none;
  height: 3px;
  background-color: #fff; /* Modern Browsers */
}

#infobox {
  width: 400px;
  height: 70vh;
  position: absolute;
  top: 15vh;
  left: 80px;
  background: rgba(38,37,81,.75);
  border-radius: 22px;
  padding: 40px;
  color: white;
}

#infobox h1 {
  font-size: 70px;
}

#infobox h2 {
  margin: 40px 0;
  font-size: 30px;
}

.login {
  margin-top: 2vh;
  display: inline-block;
  background: white;
  color: #444;
  width: 175px;
  height: 40px;
  border-radius: 5px;
  -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  white-space: nowrap;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.login:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.login span.label {
  font-family: serif;
  font-weight: normal;
}

.login img.icon {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  height: 90%;
}

.login span.buttonText {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  font-weight: bold;
  /* Use the Roboto font that is loaded in the <head> */
  font-family: 'Roboto', sans-serif;
}

#sidelogo {
  position: absolute;
  width: 400px;
  height: 100vh;
  top: 0;
  right: 120px;
}

#sidelogo img {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.loginwrapper {
  text-align: center;
}

#about {
  text-align: center;
}

#aboutcontent {
  text-align: left;
  margin: 0 auto;
}

.abouticons {
  font-size: 5vw;
  display: block;
}

.aboutstep {
  float: none;
  min-height: 5vw;
  padding: 3vw;
}

@media only screen and (min-width: 576px) {
  .abouticons {
    float: left;
    padding-right: 3vw;
  }
}

#main {
  position: relative;
  left: 5vw;
  width: 90vw;
  padding: 20px;
  background: #eee;
}

#navbar {
  height: 64px;
  background-color: #1a2741;
  color: white;
  line-height: 64px;
  width: 100vw;
  position: fixed;
  z-index: 1;
}

#user-name {
  position: fixed;
  left: 25px;
  z-index: 2;
}

#signout {
  background-color: #2196fe;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  position: fixed;
  right: 0;
  height: 64px;
  width: 10vw;
  font-size: 24px;
  border-radius: 0px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  z-index: 3;
}

#signout:hover {
  width: 100vw;
}

.role {
  padding-top: 100px;
}

.classroom div {
  padding: 5px;
  border: 2px solid black;
  border-radius: 10px;
  display: inline-block;
  margin: 5px;
}

.classroom {
  text-align: center;
}
